@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Century-BT";
  src: url("/fonts/Century-751-BT/bf7889647459a27b61d0ba9af90d94ce.eot");
  src: url("/fonts/Century-751-BT/bf7889647459a27b61d0ba9af90d94ce.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Century-751-BT/bf7889647459a27b61d0ba9af90d94ce.woff")
      format("woff"),
    url("/fonts/Century-751-BT/bf7889647459a27b61d0ba9af90d94ce.woff2")
      format("woff2"),
    url("/fonts/Century-751-BT/bf7889647459a27b61d0ba9af90d94ce.ttf")
      format("truetype"),
    url("/fonts/Century-751-BT/bf7889647459a27b61d0ba9af90d94ce.svg#Century 751 BT")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "century-schoolbook";
  src: url("/fonts/century-schoolbook/SCHLBKB.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "century-gothic";
  src: url("/fonts/century-gothic/CenturyGothicPaneuropeanRegular.TTF")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "century-gothic";
  src: url("/fonts/century-gothic/CenturyGothicPaneuropeanBold.TTF")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer base {
  * {
    @apply m-0 p-0 box-border scroll-smooth;
  }

  body,
  html {
    @apply font-montserrat;
  }
}

@layer utilities {
  .max-width {
    @apply max-w-[1200px];
  }

  .px-generic {
    @apply md:px-12 px-6;
  }

  .px-sm-generic {
    @apply md:px-0 px-6;
  }

  .pageTopBottonMargin {
    @apply py-14;
  }

  .heading {
    @apply font-century-schoolbook text-primary-200 capitalize text-4xl;
  }

  .truncate-text {
    display: -webkit-box; /* Establishes a flexible context */
    -webkit-box-orient: vertical; /* Stack children vertically */
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Show ellipsis for truncated text */
    line-height: 1.5; /* Set line height */
    height: calc(
      1.5em * 3
    ); /* Limit height to number of lines (3 in this case) */
  }

  .navbar {
    @apply bg-primary-900 py-4  w-full  px-6  uppercase;
  }

  .navbar-label {
    @apply text-lg font-extralight uppercase text-white hover:font-bold transition-all ease-in-out duration-700 font-montserrat;
  }

  /* Mobile nav */
  .mobilenav-sheet {
    @apply flex h-[calc(100vh-72px)] flex-col justify-between overflow-y-auto;
  }

  .mobilenav-sheet_close {
    @apply flex gap-3 items-center p-4 rounded-lg w-full;
  }

  .footer-label {
    @apply text-sm text-primary-900 uppercase hover:font-bold transition-all;
  }

  .banner {
    @apply w-full bg-primary-100 py-8 flex justify-center items-center;
  }

  .input-class {
    @apply text-sm placeholder:text-sm placeholder:text-gray-300 rounded-lg border border-primary-900 text-gray-900 resize-none;
  }

  .form-item {
    @apply flex flex-col gap-1.5 w-full;
  }

  .form-label {
    @apply text-sm w-full max-w-[280px] font-medium;
  }

  .form-message {
    @apply text-red-500;
  }

  .footer {
    @apply w-full;
  }

  .lastestNews {
    @apply bg-blue-gradient w-full flex items-center justify-center;
  }
}

.hide-cross-dialog .lucide,
.hide-cross-dialog .lucide-x {
  display: none !important;
}

.hide-cross-dialog .ring-offset-background {
  --tw-ring-offset-color: white;
  --tw-ring-color: white;
}