@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Century-BT";
  src: url("/fonts/Century-751-BT/bf7889647459a27b61d0ba9af90d94ce.eot");
  src: url("/fonts/Century-751-BT/bf7889647459a27b61d0ba9af90d94ce.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Century-751-BT/bf7889647459a27b61d0ba9af90d94ce.woff")
      format("woff"),
    url("/fonts/Century-751-BT/bf7889647459a27b61d0ba9af90d94ce.woff2")
      format("woff2"),
    url("/fonts/Century-751-BT/bf7889647459a27b61d0ba9af90d94ce.ttf")
      format("truetype"),
    url("/fonts/Century-751-BT/bf7889647459a27b61d0ba9af90d94ce.svg#Century 751 BT")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "century-schoolbook";
  src: url("/fonts/century-schoolbook/SCHLBKB.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "century-gothic";
  src: url("/fonts/century-gothic/centurygothic.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  body,
  html {
    @apply font-century-gothic;
  }
}

@layer utilities {
  .px-generic {
    @apply px-24;
  }

  .heading {
    @apply font-century-schoolbook text-primary-200 capitalize text-3xl;
  }

  .navbar {
    @apply bg-primary-900 px-96 py-4 font-Century-751-BT;
  }

  .navbar-label {
    @apply text-lg font-normal text-white max-xl:hidden hover:font-bold transition-all;
  }

  .banner {
    @apply w-full px-80 bg-primary-100 py-8 space-y-6;
  }

  .input-class {
    @apply text-sm placeholder:text-sm placeholder:text-gray-300 rounded-lg border border-primary-900 text-gray-900;
  }

  .form-item {
    @apply flex flex-col gap-1.5 w-full;
  }

  .form-label {
    @apply text-sm w-full max-w-[280px] font-medium;
  }

  .footer {
    @apply w-full;
  }

  .lastestNews {
    @apply bg-blue-gradient w-full;
  }
}
